/* === removing default button style ===*/
.button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    text-transform: uppercase;
}
  
  
/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: white; /* Change to white or another suitable color */
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

h4 {
    font-weight: bold;
    color: white;
    font-size: 24px; /* Adjust font size as needed */
    margin-bottom: 10px; /* Add some bottom margin for spacing */
  }
  
  